<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/main.js" async></script>
  </head>
  <body>
      <h1>
          <a href="/">home</a>
          <%= title %>
      </h1>
